body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background-color: #fff;
    color: #222;
    margin: 0;
    position: relative;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px 20px 44px;
}