body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background-color: #f7f7f7;
    color: #222;
    margin: 0;
}

.noselect, .content-menu {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu {
    position: fixed;
    top: 0;
    left: 20px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: .1s;
    transform: scale(1);
    background: white;
}

.menu:active {
    transform: scale(1.02);
}

.menu img {
    width: 32px;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.content-menu {
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    flex-direction: row;
    gap: 1px;
    background: rgba(0,0,0,0.05);
}

.content-menu > div {
    padding: 8px;
    font-size: 12px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
    font-weight: 600;
    border-top: 2px solid transparent;
    position: relative;
}

.content-menu > div:hover {
    border-top: 2px solid #0366d6;
    background: rgba(0,0,0,0.0);
}

.content-menu > div > svg {
    height: 16px;
    fill: black;
}

.content-menu-share {
    display: none;
    padding: 12px;
    z-index: 99;
    font-weight: 500;
    font-size: 12px;
    transition: .2s;
    overflow: hidden;
    position: absolute;
    top: 32px;
    right: 22px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
    flex-direction: column;
    gap: 8px;
}

.content-menu-share > span {
    font-weight: 600;
    font-size: 14px;
}

.content-menu-share > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.content-menu-share > div > div {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.content-menu-share > div > div > input {
    padding: 2px 4px;
    width: 220px;
}

.content-menu-share > div > div > button {
    position: relative;
    background: 0;
    border: 0;
    transition: .2s;
    padding: 4px;
    aspect-ratio: 1/1;
    border-radius: 4px;
    cursor: pointer;
}

.content-menu-share > div > div > button > svg {
    position: relative;
    fill: black;
    height: 18px;
}

.content-menu-share > div > div > button::before {
    overflow: hidden;
    position: absolute;
    font-size: 10px;
    background: rgba(0,0,0,.1);
    font-weight: 500;
    border-radius: 4px;
    top: -20px;
    right: 0px;
    content: 'Copied';
    padding: 2px 4px;
    transition: .2s;
    opacity: 0;
}

.content-menu-share > div > div > button:focus::before {
    animation: showHideCopy 2s;
}

@keyframes showHideCopy {
    0% {opacity: 0;}
    10%,80% {opacity: 1;}
    100% {opacity: 0;}
}

.checkButton {
    fill: #0366d6;
}

.content-menu-share > div > div > button:hover {
    background: rgba(0,0,0,0.1);
    transition: .2s;
}

.md-content {
    position: relative;
    max-width: 900px;
    margin: 20px auto;
    background: #fff;
    padding: 20px 20px 44px;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0,0,0,0.05);
}

.footer {
    text-align: center;
    padding: 12px;
    padding-bottom: 32px;
    font-size: 14px;
}

.footer > a {
    color: rgba(128,128,128,1) !important;
    transition: ease-in-out .2s;
}
